img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.test-image-results{
    padding: 20px;
    border: 3px rgb(206, 98, 98) solid;
    border-radius: 30px;
    margin-top: 20px;
    background-color: white;
}
body{
    background-color: lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
